<h1>여기는 입력양식 페이지 입니다.</h1>
<form action="/oksu/create" method="post">
  <div class="form-group">
    <label for="exampleFormControlInput1">작성자</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="여기다가 질문자의 이름을 입력하세요." name="name">
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">질문내용</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
  </div>
  
  <button type="submit">제출하기!</button>
  
</form>

